@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto+Slab:wght@300;400;500&display=swap');
body {
  background-color: #282c34;
  color: aliceblue;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Roboto Slab', serif;
}
